* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: url("./assets/images/background.jpg") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
