input {
  line-height: 1.5;
  border-radius: 10px;
  width: 90%;
  font-size: 1.5rem;
  background-color: #5b4b5b;

  /* background: rgb(86, 85, 85); */
  color: white;
  outline: none;
  border: none;
  padding: 0 10px;
}
