.wheels-sizebox__component {
  float: left;
  width: 305px;
}
.wheels__title {
  letter-spacing: 7px;
  text-align: center;
  font-size: 16px;
}
.wheels__container {
  margin: 10px 0 0;
}
.wheels-size__item {
  cursor: pointer;
  width: 47%;
  height: 65px;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 20px 0 0 90px;
  margin: 0 8px 0 0;
  background-color: #f7f7f7;
  background-position: 24.21053% 9px;
  background-repeat: no-repeat;
  background-size: 44px;
}
.wheels-size__item--19 {
  background-image: url(../../assets/new_wheel-19.png);
}
.wheels-size__item--21 {
  background-image: url(../../assets/new_wheel-21.png);
}
.wheels-size__item--focused {
  background-color: #f2f2f2;
}
.wheels-size__item--active {
  border-color: #39f;
  box-shadow: inset 0px 0px 0px 1px #39f;
}
.wheels-size__item p {
  font-family: "TESLA";
  font-size: 16px;
  font-weight: 400;
  color: #333;
}
.wheels-size__item input[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
