@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,800");

.container__navbar {
  display: flexbox;
  align-items: center;
  background: url("../../assets/gifs/navBack.gif")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* background-color: transparent; */
  padding: 25px;
  width: 100%;
  margin-bottom: 20px;
}

@media only screen and (max-width: 900px) {
  .container__navbar {
    display: flexbox;
    align-items: center;
    background: url("../../assets/gifs/navBack.gif")
      no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* background-color: transparent; */
    padding: 25px;
    width: 100rem;
    margin-bottom: 20px;
  }
}

.navbar-title {
  color: transparent;
  font-size: 28px;
  margin-bottom: -50px;
  text-align: right;
}

.navbar-menu {
  border-radius: 25px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: inline-flex;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  align-items: center;
  padding: 0 20px;
  margin: 50px 0 0 0;
}
.navbar-menu li {
  list-style: none;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  padding: 12px 60px;
  margin: 0 8px;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
}
.navbar-menu li::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: 0.6s;
  border-radius: 25px;
}
.navbar-menu li:hover {
  color: black;
}
.navbar-menu li:hover::before {
  background: linear-gradient(to bottom, #e8edec, #d2d1d3);
  box-shadow: 0px 3px 20px 0px black;
  transform: scale(1.2);
}

@media only screen and (max-width: 1000px) {
  .navbar-menu {
    border-radius: 25px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: inline-flex;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    align-items: center;
    padding: 0 0px;
    margin: 50px 0 0 0;
  }
  .navbar-menu li {
    list-style: none;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    padding: 12px 10px;
    margin: 0 1px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
  }
  .navbar-menu li::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: 0.6s;
    border-radius: 25px;
  }
  .navbar-menu li:hover {
    color: black;
  }
  .navbar-menu li:hover::before {
    background: linear-gradient(to bottom, #e8edec, #d2d1d3);
    box-shadow: 0px 3px 20px 0px black;
    transform: scale(1.2);
  }
}
