.container{
    width:100%;
    padding-bottom:5rem;
}

.navbar{
    width:100%;
}

.navheader { 
        height: 0%; 
        width: 100%; 
        position: fixed; 
        z-index: 1; 
        left: 0; 
        top: 0; 
        /* background-color: rgb(0, 0, 0);  */
        /* background-color: rgba(0, 0, 0, 0.9);  */
        /* overflow-x: hidden;  */
        /* transition: 0.5s;  */
    } 
.navheader:hover, 
.navheader:focus { 
        color: #f1f1f1; 
    } 

 @media screen and (max-height: 450px) { 
        .navheader  { 
            font-size: 20px
        } 
 }
  